*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue";
    background-color: rgb(195, 214, 234)
}
  
body > div {
    margin: auto;
}

.btn{
    display: inline-block;
    background-color: transparent;
    border: 0;
    text-decoration: none;
    outline: none;
    color:#fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity .2s ease;
    min-width: 120px;
}

.btn:hover{
    opacity: 0.5    ;
}

.btn + .btn{
    margin-left: 30px;
}

.btn--success{
    background-color: #71be34;
}

.btn--warn{
    background-color: #ffb702;
}

.btn--danger{
    background-color: #ff623d;
}

.btn--disabled{
    opacity: 0.5 !important;
    cursor: default;
}

.btn--size-l{
    padding: 20px 56px;
}

.btn--size-s{
    padding: 4px 40px;
}

#toast{
    position: fixed;
    top: 32px;
    right: 32px;
}

.toast{
    min-width: 400px;
    max-width: 400px;
    align-items: center;
    background-color: #fff;
    padding: 20px 0;
    display: flex;
    border-left: 4px solid;
    border-radius: 2px;
    box-shadow:0 5px 8px rgba(1,1,1,0.08);

    /* animation: [tên] [method] [time] [occur after time] [dừng ở điểm cuối animation] */
    /* animation: slideInLeft ease 1.5s, fadeout linear 1s 3s forwards; */
}

@keyframes slideInLeft
{
    from{
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeout{
    to{
        opacity: 0;
    }
}

.toast__icon, .toast__close{
    margin: auto 16px;
}

.toast + .toast{
    margin-top: 20px;
}

.toast__body{
   flex-grow: 1;
}

.toast_title{
    font-size: 16px;
    font-weight: 600;
    color: #222;
}

.toast_msg{
    font-size: 14px;
    color: #555;
    margin-top: 4px;
}

.toast__close{
    font-size: 24px;
    color: rgba(1,1,1,0.3);
    cursor: pointer;
}

.toast--success .toast__icon{
    color: rgb(36, 242, 39);
}

.toast--warning .toast__icon{
    color: rgb(224, 232, 81);
}

.toast--error .toast__icon{
    color: rgb(242, 36, 46);
}

.toast--success{
    border-color: rgb(36, 242, 39);
}

.toast--warning{
    border-color: rgb(224, 232, 81);
}

.toast--error{
    border-color: rgb(242, 36, 46);
}
