/* mobile and tablet */
@media (max-width: 63.9375em) {
    .hide-on-mobile-tablet{
        display: none;
    }

    
}

/* tablet only */
@media (min-width:46.25em) and (max-width: 63.9375em) {
    .hide-on-tablet{
        display: none;
    }
}

/* mobile only */
@media (max-width: 46.1875em) {
    .hide-on-mobile{
        display: none;
    }

    .navbar{display: block;}

    .navbar__list{
        display: block;
    }
    
    .navbar-item__link{
        text-align: left;
    }

    #header{
        overflow: hidden;
    }

    .navbar__mobile-btn{
        display: block;
        height: 48px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .first-item{
        display: inline-block;
    }

    .navbar__submenu{
        position: initial;
        width: 100%;
        background-color: #000;
    }
    
    .navbar-subitem__link{
        color: #fff;
        padding: 15px 0 15px 40px;
    }

    .navbar-subitem__link:hover{
        color: #000;
    }

    .contact__button{
        width: 100%;
    }
}
